extends pug/base

append vars
	- html.classList.push('page-index')
block content
	#wrapper
		#panel
		.mobile-holder
		header.header
			include pug/header
		.body
			section
				.promo
					.promo-slider(style="background-image:url(images/preface/6.jpg)!important")
						.promo-slider__content.promo-slider__content_invert.promo-slider__content_centered
							.container-fluid
								h1.promo-slider__title Ресторан
								hr
								.promo-slider__description
									| Если вы ищете кафе или ресторан, в котором можно не только заказать бизнес-ланч, но и провести деловое мероприятие или важную встречу, добро пожаловать в Папин дом
								.promo-slider__buttons
									a(href="#").btn Отправить заявку
			section.section
				.container-fluid
					h2.text-center Вместимость ресторана — до 80 человек
					hr
					.container-fluid
						.conditions-slider(style="margin-top: 0;")
							.flexslider
								ul.slides
									li
										.slider(style="background-image:url(images/conditions/3.jpg)!important")
									li
										.slider(style="background-image:url(images/conditions/3.jpg)!important")
							.conditions-slider__content
								.row
									.col-md-10.offset-1
										p <b>Ресторан «Папин дом»</b>, расположенный на территории Центра для отдыха и мероприятий открывает свои двери для проведения различного рода торжеств, выпускных, свадеб, юбилеев. Ресторан выполнен в современном стиле лофт, стены выложены красным кирпичом, а большие панорамные окна пропускают много солнечного света. Зал является многофункциональным: в нем предусмотрены различные варианты рассадки и организации пространства.
			section.section.section_green.spacing
				.container-fluid
					.row
						.col-md-7
							p.spacing__title Наше меню подбирается индивидуально
							.spacing__text Ресторан работает только под закрытые мероприятия, поэтому мы разрабатываем индивидуальное меню от нашего шеф-повара исключительно для вас. Для получения дополнительной информации, пожалуйста, свяжитесь с нами:
								.row.contacts.justify-content-center.justify-content-md-start
									.col-5
										p.contacts__item
											i.ficon-phone
											| +7 915 973 80 92
									.col-5
										p.contacts__item
											i.ficon-mail
											a(href="mailto: info@papindom.ru") info@papindom.ru
						.col-md-4.offset-md-1
							a(href="#").btn.btn-white Отправить заявку
			section.section.section_unb
				.container-fluid
					.about
						img.about__img(src="images/about/2.jpg")
						.row.justify-content-between.align-items-end
							.col-md-6
								.about__content
									h3 Организация питания для туристических групп
									hr
									.about__text
										p «Корзинка для барбекю» — уникальное и новое предложение на рынке, цель которого упростить поездку на пикник и увеличить Ваше время на активные развлечения и отдых! Теперь не нужно собирать деньги, составлять список и закупаться в магазине, а нужно просто позвать друзей и близких на блюда от опытного шеф-повара ресторана «Папин дом».
									a.btn(href="#") Подробнее
			section
				.container-fluid
					.about.about_right
						img.about__img(src="images/about/3.jpg")
						.row.justify-content-between.align-items-end
							.col-md-6.offset-6
								.about__content
									h3 Корзинка для барбекю
									hr
									.about__text
										p «Корзинка для барбекю» — уникальное и новое предложение на рынке, цель которого упростить поездку на пикник и увеличить Ваше время на активные развлечения и отдых! Теперь не нужно собирать деньги, составлять список и закупаться в магазине, а нужно просто позвать друзей и близких на блюда от опытного шеф-повара ресторана «Папин дом».
									a.btn(href="#") Подробнее
			section.section.section_dark
				.container-fluid
					h2.text-center Мероприятия
					hr
					ul.services.row.justify-content-center
						li.col-sm-6.col-md-4
							a(href="#", style="background-image: url(images/services/4.jpg);").services-trening
								.services__icon
									i.ficon-trening
								p Тренинги <br>и семинары
						li.col-sm-6.col-md-4
							a(href="#", style="background-image: url(images/services/8.jpg);").services-weddings
								.services__icon
									i.ficon-dish
								p Торжества <br>и юбилеи
						li.col-sm-6.col-md-4
							a(href="#", style="background-image: url(images/services/9.jpg);").services-solutions
								.services__icon
									i.ficon-person
								p Индивидуальные<br> решения
			section.section.section_green.spacing
					.container-fluid
						.row
							.col-md-8
								p.spacing__title Хотите провести мероприятие у нас?
								p.spacing__text Отправьте нам заявку и мы подберем решение для вашего мероприятия
							.col-md-4.align-self-center
								a(href="#").btn.btn-white Отправить заявку
			section.section.contacts(style="background-image: url(images/map.jpg)")
				.container-fluid
					.contacts__content
						h2 Как с нами связаться?
						p.contacts__item
							i.ficon-phone
							| +7 915 973 80 92
						p.contacts__item
							i.ficon-mail
							a(href="mailto: info@papindom.ru") info@papindom.ru
						p.contacts__item
							i.ficon-marker
							| Ярославская область, пос. Туношна <br>
							| Координаты: 57.539629, 40.118635
						p.contacts__link
							span Как добраться на автобусе?
						p.contacts__link
							span Как добраться на машине?
						ul.contacts__social
							li
								a(href="#").btn
									i.ficon-vk
							li
								a(href="#").btn
									i.ficon-ig
							li
								a(href="#").btn
									i.ficon-yt
							li
								a(href="#").btn
									i.ficon-fb
		footer.footer
			include pug/footer
		.popups
			.popup.popup-solution#hall1
				.row.no-gutters
					.col-lg-7.popup-solution__slider
						.solution-slider#solution-slider
							ul.slides
								li(style="background-image: url(images/solutions/1.jpg)")
								li(style="background-image: url(images/solutions/1.jpg)")
								li(style="background-image: url(images/solutions/1.jpg)")
						.solution-slider-control#solution-slider-control
							ul.slides
								li(style="background-image: url(images/solutions/1.jpg)")
								li(style="background-image: url(images/solutions/1.jpg)")
								li(style="background-image: url(images/solutions/1.jpg)")
					.col-lg-5
						.promo-detail
							.promo-detail__main
								h3 Зал в доме №5
								hr
								.row.promo-detail__data
									.col-md-4
										p Вместимость
										b 100 человек
									.col-md-4
										p Материал пола
										b Ламинат
									.col-md-4
										p Площадь
										b 300 м<sup>2</sup>
								ul.marked-list
									li Освещение по периметру
									li Можно регулировать количество включенных ламп
									li Есть прожекторы и напольные вентиляторы
									li Регулируемое отопление
								p.promo-detail__text Просторный зал с панорамными окнами, которые выходят на реку. Зал подходит для занятий йогой, ретритов, танцев, лекций, тренингов и семинаров, презентаций, фестивалей, концертов и просмотров кино.
							.promo-detail__list
								h4 Оборудование
								ul.marked-list
									li Музыкальная система
									li 4 колонки и микшер
									li 2 микрофона и микрофонные стойки
									li Флипчат
									li Экран и проектор
									li Коврики и маты для физических занятий
									li Подушки и пледы
									li 3 гонга
block append scripts
	script.
		$('.conditions-slider .flexslider').flexslider({
			animation: "slide",
			controlNav: false
		});
